<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>TradeIn</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">

		<!-- Styles -->
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="/static/css/erstyle.css" rel="stylesheet" type="text/css"/>
	</head>

	<body>
<div>
	<p id="error">E<span>r</span>ror</p>
	<p id="code">5<span>0</span><span>0</span></p>
	<p class="regText" style="color: white;">Well, unfortunately something broke down.</p>
	<p class="regText" style="color: white;">Blame the interns.</p>
	<a class="large optionDefault regText" href="/" font="">Get me out of here!</a>
</div>
	</body>
</html>