<!DOCTYPE html>
<html lang="en" ng-app="ChronoLogger">
	
<head>
	<meta charset="utf-8">
	<title>ChonoLogger Admin Dashboard</title>

	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
	<script src="/static/bootstrap/js/bootstrap.js"></script>
	<script src="/static/js/angular.min.js"></script>
</head>

<body ng-controller="DashboardCtrl">

	<div class="container">	
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">ChronoLogger Admin Panel</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a ng-click="toggleView('main')" href="#">Main</a></li>
					<li><a ng-click="toggleView('users')" href="#">Users</a></li>
					<li><a ng-click="toggleView('member')" href="#">Member</a></li>
					<li><a ng-click="toggleView('location')" href="#">Locations</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container" ng-if="mode=='main'">
		<div class="row">
			<h1>Today's Log</h1>
			<div class="col-xs-11">
				<div time-line="dashboard.scheduleData"></div>
			</div>
				<div class="dataDetails btn btn-default" ng-repeat="member in dashboard.members" ng-click="viewMember(member.id)">More Info</div>
		</div>
	</div>
	<div class="container" ng-show="mode=='main'">
		<div class="row">
			<h1>Previous Days</h1>
			<div class="col-xs-11">
	            <p class="input-group" ng-controller="DatepickerCtrl">
	              <input type="text" class="form-control" datepicker-popup="{[{format}]}" ng-model="dt" is-open="opened" max="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
	              <span class="input-group-btn">
	                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	            </p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-11">
				<div ng-if="showPrevious" time-line="dashboard.previous.scheduleData"></div>
				<h5 ng-hide="showPrevious">No logs for day selected.</h5>
			</div>
		</div>
	</div>
	<div class="container" ng-if="mode=='users'">
		<h1>{[{test}]}: Users</h1>
	</div>

	<div class="container" ng-if="mode=='member'">
		<h1>Member data: {[{member.member.name}]}</h1>

		<div class="row">
			<div class="col-md-12">
				<div time-line="member.scheduleData"></div>
			</div>
		</div>
	</div>

	<div class="container" ng-if="mode=='location'">
		<h1>{[{test}]}: location</h1>
	</div>

	<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
	<script src="/static/js/moment.js"></script>
	<script src="/static/js/ui.bootstrap.js"></script>
	<script src="/static/js/dashboard.js"></script>
</body>

</html>