<!DOCTYPE html>
<html lang="en" ng-app="ChronoLogger">
	
<head>
	<meta charset="utf-8">
	<title>ChonoLogger Admin Dashboard</title>

	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
	<script src="/static/bootstrap/js/bootstrap.js"></script>
	<script src="/static/js/angular.min.js"></script>
</head>

<body ng-controller="DashboardCtrl">

	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" ng-click="toggleView('main')"><img class="logo" src="/static/images/logo_white.png"></img>  Admin Panel</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="toggleView('location')" href="#">Locations</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="well" ng-if="dashboard.members.length != 0">
					<h4>User Details</h4>
					<p>Click on a user to see more log data.</a>
					<div ng-repeat="member in dashboard.members">
						<a href="#" ng-click="viewMember(member.id)">{[{member.name}]}</a>
						<br />
					</div>
				</div>
				<div class="well" ng-if="beacons.length != 0">
					<h4>Beacon Details</h4>
					<p>List of active beacons in the system.</a>
					<div ng-repeat="beacon in beacons.data">
						<a href="#" ng-click="toggleView('location')">{[{beacon.location_name}]}</a>
						<br />
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<div class="container-fluid" ng-if="mode=='main'">
					<div class="row well">
						<h1>Today's Log</h1>
						<div class="col-xs-12">
							<div time-line="dashboard.scheduleData"></div>
						</div>
					</div>
				</div>
				<div class="container-fluid" ng-if="mode=='main'">
					<div class="row well">
						<h1>Previous Days</h1>
						<div class="col-xs-12">
				            <p class="input-group" ng-controller="DatepickerCtrl" style="width:200px">
				              <input type="text" class="form-control" datepicker-popup="{[{format}]}" ng-model="dt" is-open="opened" max="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
				              <span class="input-group-btn">
				                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
						</div>
						<div class="col-xs-12">
							<div ng-if="showPrevious == true" time-line="dashboard.previous.scheduleData"></div>
							<h5 ng-if="showPrevious == false">No logs for day selected.</h5>
						</div>
					</div>
				</div>

				<div class="container-fluid" ng-if="mode=='member'">
					<div class="row well">
						<div class="row"  style="margin-bottom:50px">
							<div class="col-md-5">
								<h1>Member data: {[{member.member.name}]}</h1>
							</div>
							<div class="col-md-2 col-md-offset-5">
								<img class="profile-pic" ng-src="{[{member.member.picture}]}"/>
							</div>
						</div>
						<div class="col-md-12">
							<div time-line="member.scheduleData"></div>
						</div>
					</div>
				</div>

				<div class="container-fluid" ng-show="mode=='location'" style="width: 600px">			
					<div class="row well" ng-repeat="item in locations.data">
			    		<div class="col-md-6">
			    			<h3 style="margin-top: 0px;">{[{ item.location_name }]}</h3>
			    			<h4 ng-if="item.users.length == 0"><small>There is no one in the {[{item.location_name}]}</small></h4>
			    			<h4 ng-repeat="user in item.users"><small>{[{ user.name }]} is here since {[{ user.time_entered }]}</small></h4>
			    		</div>
			    		<div class='col-md-6'>
			    			<img class="locationImage" ng-src="{[{ item.picture }]}" />
			    		</div>
			  		</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
	<script src="/static/js/moment.js"></script>
	<script src="/static/js/ui.bootstrap.js"></script>
	<script src="/static/js/dashboard.js"></script>
</body>

</html>