<!DOCTYPE html>
<html lang="en" ng-app="ChronoLogger">
	
<head>
	<meta charset="utf-8">
	<title>ChonoLogger Admin Dashboard</title>

	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
	<script src="/static/bootstrap/js/bootstrap.js"></script>
	<script src="/static/js/angular.min.js"></script>
</head>

<body ng-controller="DashboardCtrl">

	<div class="container">	
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">ChronoLogger Admin Panel</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a ng-click="toggleView('main')" href="#">Main</a></li>
					<li><a ng-click="toggleView('users')" href="#">Users</a></li>
					<li><a ng-click="toggleView('member')" href="#">Member</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container" ng-if="mode=='main'">
		<h1>Schedule</h1>
		<div class="row">
			<div class="col-xs-11">
				<div time-line="scheduleData"></div>
			</div>
				<div class="dataDetails btn btn-default" ng-repeat="member in members">More Info</div>
		</div>

	</div>

	<div class="container-fluid" ng-if="mode=='users'">
		<h1>{[{test}]}: Users</h1>

	</div>

	<div class="container-fluid" ng-if="mode=='member'">
		<h1>{[{test}]}: member</h1>
	</div>

	<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
	<script src="/static/js/dashboard.js"></script>
</body>

</html>