<!DOCTYPE html>
<html lang="en" ng-app="ChronoLogger">
	
<head>
	<meta charset="utf-8">
	<title>ChonoLogger Admin Dashboard</title>

	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
	<script src="/static/bootstrap/js/bootstrap.js"></script>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header" style="margin-bottom:30px">
				<a class="navbar-brand" href="#" ng-click="toggleView('main')"><img class="logo" src="/static/images/logo_white.png"></img>  Admin Panel</a>
			</div>
		</div>
	</nav>
	<div class="jumbotron" style="padding-top: 0px; padding-bottom: 10px;">
      <div class="container" style="width: 1000px;">
      	<div style="float: left; width: 650px;">
        	<h1>Hello there!</h1>
        	<p>ChronoLogger is a new tool that allows simple location and time logging using iBeacons and your mobile device. Try it now!</p>
        </div>
        <div style="float: left; width: 300px; margin-left: 20px;">
        	<form class="form-signin" role="form" _lpchecked="1">
        		<h2 class="form-signin-heading">Please sign in</h2>
        		<input id="mf" type="email" class="form-control" placeholder="Email address" required="" autofocus="" mouseev="true" keyev="true" clickev="true" style="background-image: padding-right: 0px; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat no-repeat; margin-bottom:5px;">
        		<input id="pf" type="password" class="form-control" placeholder="Password" required="" mouseev="true" keyev="true" clickev="true" style="padding-right: 0px; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat no-repeat; margin-bottom:10px;">
        		<a class="btn btn-lg btn-primary btn-block" id="loginButton">Sign in</a>
        		<h4 style="display: none; color: red;" id="errorLabel">Invalid username or password!</h4>
      		</form>
        </div>
      </div>
    </div>

    <script src="/static/js/login.js"></script>
</body>

</html>