body {
	margin-bottom: 300px;
	background-color: #0b2530; /*Default bg, similar to the background's base color*/
	background-image: url("/static/images/background.png");
	background-position: right bottom; /*Positioning*/
	background-repeat: no-repeat; /*Prevent showing multiple background images*/
}

.navbar {
	padding-top: 30px;
}

.dataDetails {
	margin-top: 4px;
	margin-bottom: 3px;
}

.locationImage {
	height: 150px;
	width: 200px;
	border-radius: 10px;
}

.profile-pic {
	max-height: 100px;
	position: absolute;
	right: 10px;
}